# ── Base de Données (TiDB Cloud) ────────
# -DATABASE_URL="mysql://root:@localhost:3306/mes_courses_faciles"
DATABASE_URL="mysql://utilisateur:mot_de_passe@gateway01.us-east-1.prod.aws.tidbcloud.com:4000/nom_de_base?sslaccept=strict"
PORT=3000

# ── Cloudinary (Stockage des Images) ─────────────────────────────────────────
# Récupère ces 3 clés sur ton tableau de bord https://cloudinary.com
CLOUDINARY_CLOUD_NAME="ton_cloud_name_ici"
CLOUDINARY_API_KEY="ta_cle_api_ici"
CLOUDINARY_API_SECRET="ton_secret_ici"

# ── Resend (Email) ────────────────────────────────────────────────────────────

# Créez votre clé API sur https://resend.com/api-keys
RESEND_API_KEY="re_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# URL publique de l'application
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Add other environment variables here as needed
# NEXT_PUBLIC_API_URL=
# JWT_SECRET=
