# Database Connection String
# Example for MySQL (XAMPP): mysql://root@localhost:3306/mes_courses_faciles
DATABASE_URL="mysql://root@localhost:3306/mes_courses_faciles"

# Add other environment variables here as needed
# NEXT_PUBLIC_API_URL=
# JWT_SECRET=
