<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayon Entretien & Nettoyage</title>
    <link rel="stylesheet" href="/Assets/Css/netoyage.css">
</head>
<body>

    <header>
        <h1>Produits de Netoyage</h1>
        <p>Tout pour une maison étincelante</p>
    </header>

    <main class="container">
        <div class="product-grid">
            
            <div class="card">
                <div class="image-placeholder"><img src="/Assets/Image/Javel.jpeg" alt=""></div>
                <div class="card-body">
                    <span class="category">Désinfectant</span>
                    <h3>Eau de Javel (5L)</h3>
                    <p>Protection totale contre les bactéries et blanchiment intense.</p>
                    <span class="price"> 5000 FCFA</span>
                    <button class="btn">Ajouter au panier</button>
                </div>
            </div>

            <div class="card">
                <div class="image-placeholder"><img src="/Assets/Image/lessive.jpeg" alt=""></div>
                <div class="card-body">
                    <span class="category">Linge</span>
                    <h3> Liquide Lessive </h3>
                    <p>30 lavages. Doux pour la peau et efficace dès 30°C.</p>
                    <span class="price">1250 FCFA</span>
                    <button class="btn">Ajouter au panier</button>
                </div>
            </div>

            <div class="card">
                <div class="image-placeholder"><img src="/Assets/Image/vaisselle.jpeg" alt=""></div>
                <div class="card-body">
                    <span class="category">Cuisine</span>
                    <h3>Liquide Vaisselle</h3>
                    <p>Dégraissant ultra-puissant avec un parfum frais.</p>
                    <span class="price">1800 FCFA</span>
                    <button class="btn">Ajouter au panier</button>
                </div>
            </div>

        </div>
    </main>
 <footer>
        <div class="footer-content">
            <div class="payment-section">
                <h3>Modes de Paiement</h3>
                <div class="payment-icons">
                    <span class="pay-badge">Airtel Money</span>
                    <span class="pay-badge">Moov Money</span>
                    <span class="pay-badge">Mobicash</span>
                    <span class="pay-badge">Carte Bancaire</span>
                    <span class="pay-badge delivery">Paiement à la Livraison</span>
                </div>
            </div>
            <p class="disclaimer">Note : L'authentification est obligatoire pour finaliser la commande.</p>
        </div>
    </footer>

</body>
</html>